
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 扩展CSS -->
<link rel="stylesheet" type="text/css" href="~/Scripts/styles/common.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/styles/extends/reg.css" />
<style type="text/css">
    .tdcss {
        width: 120px;
    }
</style>
<div class="spacer8"></div>
<div class="spacer8"></div><div id="regmain">
    <div id="reg" class="bgwhite" style="min-height:454px;">
        <div style="font-size: 20px; font-weight: bold; margin: 35px auto auto 75px;">找回密码</div>
        <div style="font-size: 16px; font-weight: bold; margin: 20px auto 15px 75px;">
            请输入您注册时填写的邮箱账号，您将会接收到一份新邮件，请将回执填写在下面文本框内。
        </div>
        <form method="post" name="myform">
            <table style="margin-top:40px;">
                <tr style="display:block; margin:5px;">
                    <td><div class="tdcss"><font color="#F1423C">*</font>邮箱：</div></td>
                    <td><input autocomplete="off" type="text" class="text" placeholder="请输入邮箱账号"> </td>
                    <td>
                        <input type="button" class="button" value="发送电子邮件" name="phone" onClick="showtime(30)"
                               style="height:30px; margin-left:10px; background:orange; font-size:14px;" />
                    </td>
                </tr>
                <tr style="display:block; margin:5px;">
                    <td><div class="tdcss"><font color="#F1423C">*</font>回执：</div></td>
                    <td><input autocomplete="off" type="text" class="text" placeholder="请输入回执"> </td>
            </table>
        </form>
        <div class="control-group">
            <a href="/Public/AginPassword/AginPassword"><button id="phone_button" type="button" class="kbtn kbtn_orange kbtn30 font14" style="margin:15px auto 15px 140px;">下一步</button></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showtime(t) {
        document.myform.phone.disabled = true;
        for (i = 1; i <= t; i++) {
            window.setTimeout("update_p(" + i + "," + t + ")", i * 1000);
        }
    }

    function update_p(num, t) {
        if (num == t) {
            document.myform.phone.value = " 发送电子邮件 ";
            document.myform.phone.disabled = false;
        }
        else {
            printnr = t - num;
            document.myform.phone.value = " (" + printnr + ")秒后重新发送";
        }
    }

</script>


