
@{
    ViewBag.Title = "企业文化";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="spacer8"></div>
    <div class="spacer8"></div>
    <div style="height:20px;background-color:#f0ecec; width:100%;"></div>
</div>

