
@{
    ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 扩展CSS -->
<link rel="stylesheet" type="text/css" href="~/Scripts/styles/common.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/styles/extends/reg.css" />
<style type="text/css">
    .tdcss {
        width: 120px;
    }
</style>
<div class="spacer8"></div>
<div class="spacer8"></div><div id="regmain">
    <div id="reg" class="bgwhite" style="min-height:454px;">
        <div style="font-size: 20px; font-weight: bold; margin: 35px auto auto 75px;">重置密码</div>
        <div style="font-size: 16px; font-weight: bold; margin: 20px auto 15px 75px;">
            请保管好您的密码！
        </div>
        <table style="margin-top:40px;">
            <tr style="display:block; margin:5px;">
                <td><div class="tdcss"><font color="#F1423C">*</font>密码</div></td>
                <td><input autocomplete="off" type="password" class="text" name="password" id="person_password" placeholder="请输入新密码"> </td>
            </tr>
            <tr style="display:block; margin:5px;">
                <td><div class="tdcss"><font color="#F1423C">*</font>重复密码</div></td>
                <td>
                    <input autocomplete="off" type="password" class="text" name="passwords" id="person_password" placeholder="请再次输入密码"
                           onfocus="getsubmit();">
                </td>
            </tr>
            <tr>
                <td style=" float:right;"><span id="anchor" style="display:none;color:#FF0000;">两次输入密码不相同！</span></td>
            </tr>
        </table>
        <div class="control-group">
            <button id="phone_button" type="button" class="kbtn kbtn_orange kbtn30 font14" style="margin: 15px auto 15px 140px;">
                确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;认
            </button>
        </div>
    </div>
</div>
@*<script type="text/javascript" src="~/Scripts/js/jquery-1.8.0.js"></script>
<link rel="stylesheet" href="~/Scripts/sweetalert/sweetalert.css" />
<script type="text/javascript" src="~/Scripts/sweetalert/sweetalert.min.js"></script>*@
<script type="text/javascript">
    //显示密码不相同提示语句
    function getsubmit() {
        document.getElementById("anchor").style.display = "block";
    }

    //判断两次输入密码是否相同
    $(document).ready(function () {
        $('[name="passwords"]').keyup(function () {
            //var value = $('[name="password"]').val();
            //var values =  $('[name="passwords"]').val();
            if ($('[name="password"]').val() == $('[name="passwords"]').val()) {
                document.getElementById("anchor").style.display = "none";
            }
            else {
                document.getElementById("anchor").style.display = "block";
            }
        });
    });

    //信息弹出框
    $(function () {
        $("#phone_button").click(function () {
            swal({
                title: "Good!",
                text: "密码重置成功",
                type: "success",
                closeOnConfirm: false,
                confirmButtonText: "确认",
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "",
                    data: "",
                    success: function (msg) {
                        if (msg) {
                            window.location.href = '/System/Index';
                        }
                    }
                });
            });
        });
    });
</script>
