
    <marquee direction="up" scrollamout="10">

        <table>
            <tr>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
                <td>ldasjfldskjfalkdsaf</td>
            </tr>
        </table>
        

    </marquee>
