@{
    ViewBag.Title = "会员中心";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<!--按钮样式-->
<link href="~/Scripts/styles/common.css" rel="stylesheet" />
<!--消息提示框-->
<script type="text/javascript" src="~/Scripts/sweetalert/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/Scripts/sweetalert/sweetalert.css" />
<style type="text/css">
    .tdcss {
        width: 120px;
    }

    #bigdiv {
        margin-left: 140px;
        margin-top: 50px;
    }

     #bigdiv input {
            height: 35px;
            font-size:15px;
            width:200px;
        }
        #bigdiv span {
            font-size:20px;
            margin-right:5px;
    }
        #bigdiv table {
            margin-left:50px;
        }
</style>
<input type="hidden" name="loginid" id="loginid" value="@ViewBag.LoginID">
<input type="hidden" name="types" id="types" value="@ViewBag.Type">
<div id="bigdiv">
    <div style="font-size: 40px; font-weight: bold; margin: 35px auto auto 30px;">修改密码</div>
    <div style="font-size: 20px; font-weight: bold; margin: 20px auto 0px 90px;">请保管好您的密码！</div>
    <table style="margin-top:20px;">
        <tr style="display:block; margin:5px;">
            <td><div class="tdcss"><span><font color="#F1423C">*</font>原密码</span></div></td>
            <td><input type="password" class="form-control" name="password" id="person_password" placeholder="请输入原密码"> </td>
        </tr>
        <tr style="display:block; margin:5px;">
            <td><div class="tdcss"><span><font color="#F1423C">*</font>新密码</span></div></td>
            <td><input type="password" class="form-control" name="newPassword" id="person_password" placeholder="请输入新密码"> </td>
        </tr>
        <tr style="display:block; margin:5px;">
            <td><div class="tdcss"><span><font color="#F1423C">*</font>重复密码</span></div></td>
            <td>
            <td>
                <input type="password" class="form-control" name="againPassword" id="person_password" placeholder="请再次输入新密码"
                       onfocus="getsubmit();">
            </td>
        </tr>

        <tr>
            <td style="float:right;"><span id="anchor" style="display:none;color:#FF0000;">两次输入密码不相同！</span></td>
        </tr>
    </table>
    <div class="control-group">
        <div style="float:left;">
            <button id="buttonId" type="button" class="kbtn kbtn_orange kbtn30 font10"
                    style="margin: 10px auto 0px 90px; height:30px; width:140px; font-size:20px;" onclick="btnSubmit();">
                保&nbsp;&nbsp;&nbsp;&nbsp;存
            </button>
        </div>
        <div style="float:left;">
            <button id="buttonId" type="button" class="kbtn kbtn_orange kbtn30 font10"
                    style="margin: 10px auto 0px 45px; height:30px; width:140px; font-size:20px;" onClick="clean();">
                重&nbsp;&nbsp;&nbsp;&nbsp;置
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">


    //判断密码是否相同
    function getsubmit() {
        document.getElementById("anchor").style.display = "block";
    }
    $(document).ready(function () {
        $('[name="againPassword"]').keyup(function () {
            var newPassword = $('[name="newPassword"]').val();
            var againPassword = $('[name="againPassword"]').val();
            if (newPassword == againPassword) {
                document.getElementById("anchor").style.display = "none";
            }
            else {
                document.getElementById("anchor").style.display = "block";
            }
        });
    });


    //保存
    function btnSubmit() {
        debugger;
        var password = $('[name="password"]').val();
        var newPassword = $('[name="newPassword"]').val();
        var againPassword = $('[name="againPassword"]').val();
        if (password == "") {
            swal("原密码不能为空!");
            return false;
        }
        if (newPassword == "") {
            swal("新密码不能为空!");
            return false;
        }
        if (againPassword == "") {
            swal("重复密码不能为空!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/Public/MemberCenter/GetPasswordData",
            data: { password: password, Pwd: newPassword, againPassword: againPassword },
            success: function (text) {
                debugger;
                if (text == "保存成功") {
                    swal("修改密码成功!", "", "success");
                }
                else if (text == "保存失败") {
                    swal("修改密码失败!", "", "error");
                }
                else {
                    swal("原密码不正确!");
                }

            }
        });
    }


    //重置
    function clean() {
        $(function () {
            $('[name="password"]').attr("value", "");
            $('[name="newPassword"]').attr("value", "");
            $('[name="againPassword"]').attr("value", "");
        });
    }
</script>

