
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人才甄选</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/appoint.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <script src="~/Scripts/devoops/bootstrap.min.js"></script>
</head>
<body>


    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner6.png" /></a></li>
            @*<li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner6.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner6.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner6.png" /></a></li>*@
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="js/shufflingFigure.js"></script>

    <div>
        <div id="appoint" class="center">

            <div>
                <ul id="appoint_ul">
                    <h2>翼聚源外派人才</h2>
                    <h3>一、不同周期的人才外包</h3>
                    <li>1、长期人才外包：适用于人员流动性不大、比较重要、稳定的工岗位，一般外包期限在一年以上。</li>
                    <li>2、短期人才外包：适用于人员流动性大、工作性质和内容较为简单的岗位，一般外包期限在半年以内。</li>
                    <li>3、阶段性人才外包：适用于项目性、阶段性的工作岗位，一般外包期限根据工作项目所需的时间长短而定。</li>

                    <h3>二、不同岗位的人才外包</h3>
                    <li>产品与设计</li>
                    <li>项目经理</li>
                    <li>产品架构师</li>
                    <li>系统设计工程师</li>
                    <li>UI设计师</li>

                    <table class="table table-bordered">
                        <caption></caption>
                        <thead>
                            <tr class="info">
                                <th>软件开发类</th>
                                <th>软件测试类</th>
                                <th>运维类</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Java开发工程师</td>
                                <td>自动化测试工程师</td>
                                <td>网络运维</td>
                            </tr>
                            <tr>
                                <td>.net/C#开发工程师</td>
                                <td>性能测试工程师</td>
                                <td>系统运维</td>
                            </tr>
                            <tr>
                                <td>C/C++开发工程师</td>
                                <td>功能测试工程师</td>
                                <td>桌面运维</td>
                            </tr>
                            <tr>
                                <td>数据库开发工程师</td>
                                <td>本地化测试工程师</td>
                                <td>数据库运维</td>
                            </tr>

                        </tbody>
                    </table>

                    <!--  <h3>软件开发类</h3>
                      <li>Java开发工程师</li>
                      <li>.net/C#开发工程师</li>
                      <li>C/C++开发工程师</li>
                      <li>数据库开发工程师</li>

                      <h3>软件测试类</h3>
                      <li>自动化测试工程师</li>
                      <li>性能测试工程师</li>
                      <li>功能测试工程师</li>
                      <li>本地化测试工程师</li> 　　　　


                      <h3>运维类</h3>
                      <li>网络运维</li>
                      <li>系统运维</li>
                      <li>桌面运维</li>
                      <li>机房值守</li>
                      <li>数据库运维</li>-->

                </ul>
            </div>

        </div>
    </div>



</body>
</html>
