
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>案列展示更多</title>
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <style>
        .new_t {
            width: 100%;
            height: 289px;
            overflow: hidden;
            position: relative;
        }

            .new_t img {
                display: block;
                width: 100%;
                height: 289px;
                margin: 0 auto;
            }

        .detailed_box {
            width: 1200px;
            padding: 10px;
            overflow: hidden;
        }

        .detailed_left {
            width: 29%;
        }

            .detailed_left h2 {
                background: #f5f5f5;
                height: 40px;
                line-height: 40px;
                padding-left: 10px;
            }

            .detailed_left ul li {
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
            }

            .detailed_left p span {
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
                color: red;
                font-weight: bold;
            }

        .detailed_right {
            width: 69%;
        }
    </style>

</head>

<body>

    <div class="new_t">
        <img src="~/img/jiaoyikexing/banner10.png" />
    </div>

    <div class="detailed_box center">
        <div class="detailed_left fl">
            <h2>人力资源配置上正面临如下困境：</h2>
            <ul>
                <li><mark>1</mark>临时及灵活的用工需求</li>
                <li><mark>2</mark> 专业开发人员招聘困难</li>
                <li><mark>3</mark>内部人力不足，没有招聘编制</li>
                <li><mark>4</mark>技术人员用工及管理成本高</li>
                <li><mark>5</mark> 紧急项目需求组建团队困难</li>
                <li><mark>6</mark>招聘的人员技能良莠不齐</li>
            </ul>           
        </div>
        <div class="detailed_right fr">
            <h2>人员外派</h2>
            <p>
                我们的客户已遍布全国各大省市
            </p>
            <p>
                翼聚源的IT人力资源配置服务充分免除您在人员招聘和培训上的顾虑和时间，
                使您可以专注于核心业务的运营。人力资源配置服务可以帮助您打开进入行业技术
                知识的窗口，减少您对于内部培训和专业技能发展的投入和资金，从而达到<mark>节约成本</mark>的目的，
                我们高质量的人力资源配置会全面协助和加速您的产品上市。
            </p>
            <p>
               
            </p>


            <img src="~/img/jiaoyikexing/rywb1.png" />
        </div>
    </div>


</body>
</html>
