
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <style>
        .new_t {
            width: 100%;
            height: 289px;
            overflow: hidden;
            position: relative;
        }

            .new_t img {
                display: block;
                width: 100%;
                height: 289px;
                margin: 0 auto;
            }

        .detailed_box {
            width: 1200px;
            padding: 10px;
            overflow: hidden;
        }

        .detailed_left {
            width: 29%;
        }

            .detailed_left h2 {
                background: #f5f5f5;
                height: 40px;
                line-height: 40px;
                padding-left: 10px;
            }

            .detailed_left ul li {
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
            }

            .detailed_left p span {
                display: inline-block;
                margin-right: 10px;
                font-size: 14px;
                color: red;
                font-weight: bold;
            }

        .detailed_right {
            width: 69%;
            background:#f8f8f8;
            padding-left:10px;
        }
    </style>

</head>

<body>

    <div class="new_t">
        <img src="~/img/jiaoyikexing/banner3.png" />
    </div>

    <div class="detailed_box center">
        <div class="detailed_left fl">
            <h2>人力资源配置上正面临如下困境：</h2>
            <ul>
                <li><mark>1</mark>临时及灵活的用工需求</li>
                <li><mark>2</mark> 专业开发人员招聘困难</li>
                <li><mark>3</mark>内部人力不足，没有招聘编制</li>
                <li><mark>4</mark>技术人员用工及管理成本高</li>
                <li><mark>5</mark> 紧急项目需求组建团队困难</li>
                <li><mark>6</mark>招聘的人员技能良莠不齐</li>
            </ul>
        </div>
        <div class="detailed_right fr">
            <h2>项目外包</h2>
            <p>
                翼聚源的外包团队在服务客户过程中，积累了丰富的资源和宝贵的服务经验。在合作的过程中，客户能感受到轻松和紧密的配合。这些都是源于
                翼聚源团队多年的经验积累，才能达到的服务效果。通过多年的努力，我们公司建立了完善的外包体系：
            </p>
            <div style="margin:0 auto; width:70%;"><img src="~/img/jiaoyikexing/rckf.png" /></div>           
            <h3>第一步：需求调研分析</h3>
            <p>               
                1、相关系统分析员向用户初步了解需求，然后用WORD列出要开发的系统的大功能模块，每个大功能模块有哪些小功能模块，对于有些需求比较明确相关的界面时，在这一步里面可以初步定义好少量的界面。
                2 、系统分析员深入了解和分析需求，根据自己的经验和需求用WORD或相关的工具再做出一份文档系统的功能需求文档。这次的文档会清楚例用系统大致的大功能模块，大功能模块有哪些小功能模块，并且还列出相关的界面和界面功能。
                3 、系统分析员向用户再次确认需求。
            </p>

            <h3>第二步：概要设计</h3>
            <p>
                首先，开发者需要对软件系统进行概要设计，即系统设计。其次概要设计需要对软件系统的设计进行考虑，包括系统的基本处理流程、系统的组织结构、模块划分、功能分配、接口设计、 运行设计、数据结构设计和出错处理设计等，为软件的详细设计提供基础。
            </p>

            <h3>第三步：详细设计</h3>
            <p>
                在概要设计的基础上，开发者需要进行软件系统的详细设计。在详细设计中，描述实 现具体模块所涉及到的主要算法、数据结构、类的层次结构及调用关系，需要说明软件系统各个层次中的每一个程序(每个模块或子程序)的设计考虑，以便进行编码和测试。应当保证软件的需求完全分配给整个软件。详细设计应当足够详细，能够根据详细设计报告进行编码。
            </p>
            
            <h3>第四步：测试</h3>
            <p>
                测试编写好的系统。交给用户使用，用户使用后一个一个的确认每个功能。
            </p>

            <h3>第五步：软件交付准备</h3>
            <p>
                在软件测试证明软件达到要求后，软件开发者应向用户提交开发的目标安装程序、数据库的数据字典、《用户安装手册》、《用户使用指南》、需求报告、设计报告、测试报告等双方合同约定的产物。《用户安装手册》应详细介绍安装软件对运行环境的要求、安装软件的定义和内容、在客户端、服务器端及中间件的具体安装步骤、安装后的系统配置。《用户使用指南》应包括软件各项功能的使用流程、操作步骤、相应业务介绍、特殊提示和注意事项等方面的内容，在需要时还应举例说明。
            </p>

            <h3>第六步：验收</h3>
            <p>
                用户根据需求文档及标书验收,收尾结算
            </p>    

        </div>
    </div>


</body>
</html>
