
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>案列展示1</title>
    <link href="~/Scripts/styles/skin/style.css" rel="stylesheet" />
</head>

<body>

    <div class="new_t">
        <img src="~/img/jiaoyikexing/banner11.png" />
    </div>

    <div class="photoBox">
        <div class="photo">
            <img src="~/img/jiaoyikexing/51.png" />
        </div>
        <div class="proContent">
            <h1>精致设计</h1>
            <p>午餐小助手是含有AI（人工智能）技术的对话机器人应用，为广大城市白领人群提供午餐美食推荐。
                我们根据三个维度让用户选择自己的喜好，从而为用户提供午餐吃什么的推荐。
                首先，我们有一套基于自定义规则的问答系统，可以根据用户的关键字进行针对性的回复，并收集用户的信息。</p>
        </div>
    </div>
    <div class="photoBox">
        <img style="float:right;" class="proImg"  src="~/img/jiaoyikexing/52.png" />
        <div class="proContent" style="float:left;">
            <h1>网站手机同步</h1>
            <p>全新打造的新一代内核，赋予你的安卓手机一颗更强劲有力的『心』，完美支持最新HTML5标准，比上一代快4倍的javascript引擎，让你重新体验HTML5的精彩。</p>
        </div>
    </div>
    <div class="photoBox">
        <img class="proImg" src="~/img/jiaoyikexing/53.png" />
        <div class="proContent">
            <h1>更快更省：</h1>
            <p>作为功能强大的全功能浏览器，新一代欧朋浏览器继续提供高效的『越野模式』。轻触『越野模式』按钮，浏览器模式瞬间切换，止网速度迅速提升，流量耗用减少90%，为你带来最快速的网络体验。</p>
        </div>
    </div>
    <div class="photoBox">
        <img class="proImg" style="float:right;"  src="~/img/jiaoyikexing/54.png" />
        <div class="proContent" style="float:left;">
            <h1>发现舒适移动生活：</h1>
            <p>作为一款实用又好玩儿的应用，新一代欧朋浏览器能让你发现更多有趣的事情，让你轻松快乐，尽享舒适多动新生活。</p>
        </div>
    </div>
</body>
</html>
