
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业需求</title>
    <link href="~/Scripts/styles/skin/Enterprise.css" rel="stylesheet"/>
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet"/>
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet"/>
</head>
<body>
    

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner4.png" /></a></li>
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="js/shufflingFigure.js"></script>

    <div>
        <div id="Transaction" class="center">

            <div>
                <h2>一 企业需求</h2>
                <p>
                    调查表明，各个组织将花费70%的IT预算成本用于维护当前的IT运营和功能。因此，如何更加有效和高效地进行IT 管理和应用程序维护变得至关重要。天景隆
                    使用最新的技术和工具，开发了一套可扩展的强大体系结构，可以支持7×24小时全球业务可用性，同时还能显著缩短开发周期。基于互联网技术领域广泛、深厚的
                    专业知识和经验成就了我们卓越的项目执行能力、高度的项目透明化管理以及对整个工作流程的控制能力。天景隆软件针对离岸模式采用全球交付框架（GDF），
                    供全面的架构，以支持定制开发解决方案，以及整体实施管理。
                    通过行业领先的质量保障措施和更快的交付时间，我们将先进的IT应用软件知识转化为企业竞争力。丰富的应用软件可最大程度地提高可移植性和可扩展性，
                    开发出兼具可复用性和可扩展性的高性价比产品。
                </p>
                <div class="imgbox"><img id="Enterprise_img"  src="~/img/jiaoyikexing/37.png" /></div>
                <ul id="Enterprise_ul">
                    <h2>全面的技术能力，包括应用软件的设计、开发、测试、实施、管理和维护</h2>
                    <h3 id="Enter">
                        ADM服务涵盖开发流程中的各个阶段，包括：需求分析、设计、编码、测试、
                        部署以及实施后的支持,帮助客户简化业务流程，开发专门的解决方案
                        多种技术和平台经验
                    </h3>
                    <li>.NET</li>
                    <li>Java应用程序</li>
                    <li>基于Web的应用程序</li>
                    <li>BI开发</li>
                    <li>
                        .NET
                        <ul>
                            <h3>实施流程和活动一览</h3>
                            <li>应用软件配置</li>
                            <li>技术和软件安装</li>
                            <li>测试、培训和实施</li>
                            <li>实施后支持</li>
                            <li>数据分析</li>
                            <li>数据仓库构建/改进</li>
                            <li>BI架构选择、安装与开发</li>
                            <li>ETL开发</li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
    </div>


</body>
</html>
