
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业面试</title>
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/interview.css" rel="stylesheet" />
</head>
<body>


    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner7.png" /></a></li>
            @*<li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner7.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner7.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner7.png" /></a></li>*@
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="js/shufflingFigure.js"></script>

    <div>
        <div id="interview" class="center">

            <div>
                <div class="image_box"><img id="interview_img" src="~/img/jiaoyikexing/39.png" /></div>
                <ul id="interview_ul">
                    <h2> 1.翼聚源外派人才</h2>
                    <h3> A      内部人员选派处理规则</h3>
                    <li> 1）    根据客户的用人需求公司进行内部选择由公司人力资源部进行对全公司符合技术要求的闲置人员进行协调，交付部门对协调人员进行内部面试。</li>
                    <li> 2）    选定合适人员后由客户经理进行简历整理，以邮件形式发给客户征求意见，进行面试。</li>
                    <li> 3）    面试合同通过后由交付部门对外派员工进行培训。培训内容包括，客户业务情况介绍、客户工作情况介绍、客户工作纪律。</li>
                    <li> 4）    通过培训后由客户经理带领外派员工到客户现场办理相关手续，签订《人员到岗单》。</li>
                    <li> 5）    完成内部人员选派流程。</li>

                    <h2> 2.    外部人员选派</h2>
                    <h3> A    在公司内部人员不能满足客户要求的情况下，启动外部人员招聘。外部人才选择从以下四个层面获得支持。</h3>
                    <li> 1）    5大人力资源网站，公司与大型人力资源网站均有战略合作。</li>
                    <li> 2）    与8所大学院校人才输送机制，可以随时进行人员筛选。</li>
                    <li> 3）   内部推荐，员工可以进行内部推荐，推荐成功并通过试用期公司给予500至3000元的奖金作为鼓励。</li>

                    <h3> B     在公司内部人员不能满足客户要求的情况下，启动外部人员招聘。外部人才选择从以下四个层面获得支持。</h3>
                    <li> 1）    5大人力资源网站，公司与大型人力资源网站均有战略合作。</li>
                    <li> 2）    与8所大学院校人才输送机制，可以随时进行人员筛选。</li>
                    <li> 3）   内部推荐，员工可以进行内部推荐，推荐成功并通过试用期公司给予500至3000元的奖金作为鼓励。</li>

                    <h3> C     通过以上4种方式进行外部人才的筛选工作，可以快速且大量的获得人员进行筛选工作。从客户提出需求到外部人员选派响应周期为7天。外部人员选派处理规则</h3>
                    <li> 1）   通过4种外部人员选择方式由人力资源部门对人员信息进行收集整理。</li>
                    <li> 2）   由交付部门对人员进行初次面试，面试内容包括技术能力、工作态度、沟通表达能力及未来发展方向。</li>
                    <li> 3）   通过初次面试后，交付部门把适合的人员提交给客户经理。由客户经理提交客户进行人员筛选。</li>
                    <li> 4）   通过客户面试后，交由人力资源部门进行入职办理及新员工培训工作。交付部门对客户业务情况介绍、客户工作情况介绍、工作纪律，进行培训。</li>
                    <li> 5）   通过培训后由客户经理带领外派员工到客户现场办理相关手续，签订《人员到岗单》</li>
                    <li> 6）   完成外部人员选派流程。</li>

                    <P>
                        通过内部人员选派和外部人员选派两种方式相结合，可以加速响应客户提出的需求，在服务响应时间上，翼聚源公司做出服务要求：内部人员选派的周期不得超过
                        3个工作日，外部人员选派工作不得超过7个工作日。对市场人才稀少且专业性较高的技术人员的服务响应周期不得超过15天。
                    </P>


                </ul>
            </div>

        </div>
    </div>


</body>
</html>
