
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精准匹配</title>
    
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />    
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/jzpp.css" rel="stylesheet" />
</head>
<body>

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a><img src="~/img/jiaoyikexing/banner3.png" /></a></li>
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>

    <script src="~/Scripts/styles/js/shufflingFigure.js"></script>

    <div>
        <div class="matching center">
            <div id="matching_img" class="matching_img fl">
                <img src="~/img/fuwuzhongzhi/24.png" />
            </div>
            <div class="matching_box fr">
                <h3>简历管理</h3>
                <p>
                    人才可以通过已有的简历模板对个人的基
                    本情况进行编辑，简历的信息包括个人信息、
                    求学历程、求职意向、语言特长、拥有证书、
                    工作经历、兴趣爱好、自我评价等信息。支
                    持上传照片的功能，人才可以上传照片。
                    支持简历各种条件检索统计的功能，可以
                    查询出注册编辑简历人才多少男生、多少
                    女生、多少30岁以上、多少30岁以下等
                    等各种条件综合统计信息。
                </p>
            </div>
        </div>
        <div class="matching center">
            <div class="matching_img fr">
                <img src="~/img/fuwuzhongzhi/25.png" />
            </div>
            <div class="matching_box fl">
                <h3>企业库管理</h3>
                <p>
                    支持企业的注册，企业注册后，系统将企业的
                    注册信息存储到数据库中。后台管理员点击企
                    业用户，可以查看所有企业的注册信息。后台
                    管理员审核通过后，企业才可以进行相关信息
                    的查看，否则企业无权进行人才详细信息的查
                    看。！
                </p>
            </div>
        </div>
    </div>



</body>
</html>