
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务专业</title>
    <link href="~/Scripts/styles/skin/Professional.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
</head>
<body>
    

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner14.png" /></a></li>
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="js/shufflingFigure.js"></script>

    <div>
        <div class="Professional center">
            <img src="~/img/jiaoyikexing/31.png" />
            <div class="Professional_box">
                <h2>一) 人才库管理-------可以对人才进行管理，同时可以对人才的简历进行管理。</h2>
                <h3> a) 人才用户管理</h3>
                <p>支持人才的注册，人员注册后，系统将人员的注册信息存储到数据库中。后台管理员点击人才用户，可以查看所有人才的注册信息。</p>
                <h3> b) 简历管理</h3>
                <p>
                    人才可以通过已有的简历模板对个人的基本情况进行编辑，简历的信息包括个人信息、求学历程、求职意向、语言特长、拥有证书、
                    工作经历、兴趣爱好、自我评价等信息。支持上传照片的功能，人才可以上传照片。支持简历各种条件检索统计的功能，可以查询
                    出注册编辑简历人才多少男生、多少女生、多少30岁以上、多少30岁以下等等各种条件综合统计信息。
                </p>


                <h2> 二) 企业库管理</h2>
                <h3>  a) 企业用户管理</h3>
                <p>
                    支持企业的注册，企业注册后，系统将企业的注册信息存储到数据库中。后台管理员点击企业用户，可以查看所有企业的注册信息。
                    后台管理员审核通过后，企业才可以进行相关信息的查看，否则企业无权进行人才详细信息的查看。
                </p>
                <h3> b) 企业基本信息管理</h3>
                <p>
                    企业注册后，方可填写企业的基本信息。基本信息包括单位名称、单位性质、营业执照号、注册机构、单位所在地、Email、单位地
                    址、联系人、联系电话、手机号码、传真、企业网址、企业描述相关信息。为了保证企业信息的真是性，后台支持企业相关材料附件
                    上传的功能。填写后，由管理员进行审核。审核通过后，管理员也可以分类对于企业进行统计、查询。可以查询统计注册在网上的相
                    关企业有多少、单位性质是私营的有多少等等。
                </p>
                <h3> c) 招聘配对管理</h3>
                <p>
                    企业招聘成功后，企业可以在管理界面中进行配对信息的添加。添加需要上传劳动合同作为依据，点击人才的编号及企业的编号进行
                    配对。配对成功者，后台自动根据企业配对的多少进行排序。
                </p>


                <h2> 三) 招聘信息管理</h2>
                <h3> a) 招聘信息登记</h3>
                <p>
                    注册的已经填写基本信息并审批通过的企业，有权进行人才信息的搜索及招聘信息的登记。招聘信息可以包括职位名称、招聘人数、
                    工作地点、要求学历、年龄、工作年限、专业、职位关键词、职位描述岗位要求等信息。在选择学历、年龄、工作年限、专业时为已
                    有类别的下拉框形式，这样方便人才进行职位搜索时的检索方便。
                </p>
                <h3>  b) 招聘信息维护</h3>
                <p>
                    企业可以进行多条招聘信息的录入和维护。可以对已经发布的招聘信息进行编辑或删除。已经发布的职位信息可以选择职位发布的时
                    限，到达时限时招聘信息自动在页面中去除。
                </p>
                <h3>  c) 招聘信息统计查询</h3>
                <p>
                    管理员可以根据各种组合条件对招聘进行进行查询统计。正在网上招聘的招聘信息可以查到，超过招聘时限曾经在网上进行招聘的历
                    史信息也可以查到。可以统计出各种类别通过网站进行招聘的相关数字，进行综合分析。
                </p>
                <h2>四) 招聘搜索管理</h2>
                <p> 已经注册的人才拥有招聘搜索的功能，人才可以根据定义的招聘搜索条件，进行招聘信息的搜索。</p>
                <h2>五) 人才搜索管理</h2>
                <p>已经注册的企业拥有搜索人才的功能，企业可以根据定义的招聘搜索条件，进行人才信息的搜索。</p>
                <h2>六) 企业招聘排名管理</h2>
                <p>
                    企业信息当中有招聘配对维护管理，企业可以将通过网站进行招聘成功的人才名称及企业名称配对信息进行维护。维护后，后台配对
                    信息进行自动排比。上传配对企业最多者，企业招聘信息排名在最前面。企业招聘信息按照上传配对的数量进行倒序排列。没有注册
                    的企业搜索出的人才不能看到详细的人才的出生日期、身份证号码、固定电话、联系电话等详细信息，这些信息均以 显示。注册后的
                    企业可以看到完整的人才信息。
                </p>
                <p>
                    七)信息发布
                    信息管理是对已经发布的和在草稿箱的信息进行管理的模块。
                    a) 发布管理
                    对已经发布的新闻，我们可以进行排序、评论、撤销、删除等操作。
                    1、排序：排序是对已经发布的新闻进行顺序的调整，点击↑,新闻的顺序将会靠前显示，点击↓新闻的顺序将会靠后显示。
                    2、评论：评论是对该条新闻的评论进行管理。
                    3、撤销：撤销是把已经发布的新闻撤下来，把这条新闻的状态改变成草稿。
                    4、删除：是把已经发布的新闻删除到回收站里。并使真正的删除，当清空回收站的时候新闻才真正的删除。
                </p>
            </div>
        </div>
    </div>


   

</body>
</html>
