
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权益保障</title>
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/protection.css" rel="stylesheet" />
    <script src="js/jquery.js"></script>
</head>
<body>
    

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner12.png" /></a></li>
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="~/Scripts/styles/js/shufflingFigure.js"></script>
    <div>
        <div class="protection center">
            <div class="protection_img"><img src="~/img/jiaoyikexing/27.png" /></div>
            <div class="protection_box">
                <h3>（一）安全保障权</h3>
                <p>
                    我国《互联网权益保护法》7条规定：“消费者在购买、使用商品和接受服务时享有人身、财产不受损害的权利。”在使用软件和提供网络服务的消费关系中，腾讯
                    与360作为软件或网络服务的提供者，同样有义务保证其所提供的软件和服务不能危及消费者的人身、财产安全，尤其是网络环境中的消费者信息安全权，即应给予消费
                    者一个健康安全的消费环境。而在3Q大战中，消费者的信息安全权难以得到有效保障，主要表现在：随着网络的普及，越来越多的消费者将涉及个人隐私的数据，如浏览
                    历史、下载信息、视频文件等存放于电脑中。腾讯公司在未经消费者同意的情况下擅自扫描其电脑文件，显然是对消费者信息安全权的侵犯。
                </p>
                <h3>（二）知情权</h3>
                <p>
                    《消费者权益保护法》8条规定：“消费者有权要求经营者提供商品的价格、产地、生产者、用途、性能、规格、等级、主要成分、生产日期、有效期限、检验合格证
                    明、使用方法说明书、售后服务，或者服务的内容、规格、费用等有关情况。”网络用户是腾讯与360的争夺对象，但是二者对各自所提供软件产品的运行原理、安全性能
                    等具体情况和网络服务的相关信息并未向用户作出相应的告知、提示、披露与保证。在向用户提供软件产品和服务的过程中，对于软件的各项功能以及在用户电脑中进行的
                    主要任务操作，尤其是可能涉及用户隐私、电脑数据文档的操作，提供者都应向用户如实告知，但两公司均没有通过服务协议或其他途径履行这一义务。甚至在3Q大战中，
                    腾讯在发布公告之前，并未事先告知消费者将在装有360软件的电脑上停止运行QQ软件，更未给消费者留出合理的准备时间。同时，其对360软件中可能存在的问题也未
                    作任何提示，而是在没有任何征兆的情况下，强行停止了对使用360软件的消费者的QQ软件服务。很显然，腾讯的上述行为严重侵害了消费者的知情权。
                </p>
                <h3>（三）自主选择权</h3>
                <h3>（四）多种授权模式，满足不同销售需求</h3>
                <div class="protection_img"><img src="~/img/jiaoyikexing/26.png" /></div>
                <h3>（五）登录平台，轻松管理所有授权数据</h3>
                <p>平台对授权的设计、需求都是在平台上完成的，对所有用户的授权历史也都会在平台上留下记录。 借助比特平台，软件开发商可以轻松管理数以万计的授权数据。</p>
                <h3>（六）后续跟踪服务</h3>
                <p>
                    在人才就任新职后，期间还会有一段时间的适应时期，猎头顾问则还需协调用人单位和人才之间的关系，使双方消除可能的误会，创造良好的条件，发挥人才的最大价值。
                    现在，一些操作正规的猎头公司还提供人才的试用期保证，当试用期期间，企业发现所选人才不满 意而辞退，或者人才对企业不满意而又跳槽了，猎头公司则会免费重新
                    物色人选，如果最终猎不到合适人才，将可能按合同退回大部分费用（一般退回达60%左右）。
                </p>
            </div>
        </div>
    </div>


    

</body>
</html>
