
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可靠支付</title>
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/Reliable.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <script src="js/jquery.js"></script>
</head>
<body>
   
    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a><img src="~/img/jiaoyikexing/banner13.png" /></a></li>
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="~/Scripts/styles/js/shufflingFigure.js"></script>
    <div>
        <div class="Reliable center">
            <img src="~/img/jiaoyikexing/30.png" />
            <div id="Reliable_img" class="Reliable_img fl"><img src="~/img/jiaoyikexing/28.png" /></div>
            <div class="Reliable_box fr">
                <h2>在线支付</h2>
                <h3>对公账户支付安全可靠</h3>
                <p>
                    一网通网上支付是招商银行提供的网上即时付款服务。
                    支持中、农、工、建、交行、中信、深发、光大、广发等22家银行借记卡
                    、贷记卡、信用卡网上在线支付功能，可实时到帐。
                </p>
            </div>
        </div>
        <div class="Reliable  center">
            <div class="Reliable_img fr"><img src="~/img/jiaoyikexing/29.png" /></div>
            <div class="Reliable_box fl">
                <h2>企业库管理</h2>
                <h3>
                    支持企业的注册，企业注册后，系统将企业的
                    注册信息存储到数据库中。
                </h3>
                <p>
                    后台管理员点击企
                    业用户，可以查看所有企业的注册信息。后台
                    管理员审核通过后，企业才可以进行相关信息
                    的查看，否则企业无权进行人才详细信息的查
                    看。！
                </p>
            </div>
        </div>
    </div>


</body>
</html>
