
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人才甄选</title>
    <link href="~/Scripts/styles/skin/Selection.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
</head>
<body>
    

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner5.png" /></a></li>
            @*<li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner5.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner5.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner5.png" /></a></li>*@
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="js/shufflingFigure.js"></script>

    <div>
        <div id="Selection" class="center">
            <div>
                <div class="imgbox"><img id="Selection_img" src="~/img/jiaoyikexing/38.png" /></div>
                <ul id="Selection_ul">
                    <h2>翼聚源软件的优势具体表现在：</h2>
                    <h3>1、派遣资源丰富：</h3>
                    <li>a) 翼聚源软件有一个专业软件人才库，并且以每年20%的速度增长和更新；</li>
                    <li>b) 目前已经累计为各类企业提供派遣人员达上万人次，每年新增派遣能力在300人左右。</li>

                    <h3>2、行业专注度高：</h3>
                    <li>a) 翼聚源软件目前主要以软件研发人才外包、定制项目外包和产品研发为主营业务；</li>
                    <li>b) 企业目标明确，专注度高，能集中所有资源做好软件研发一件事情，唯有专注才能做到专业。</li>

                    <h3>3、技术实力雄厚：</h3>
                    <li>a) 翼聚源软件通过了计算机系统集成三级、四级认证，通过了北京高新技术企业认定</li>


                    <h3>4、成本优势明显：</h3>
                    <li>a) 为减轻企业的用人成本负担，我们制订了数十种灵活、高效的人才外包组合方案；</li>
                    <li>b) 外包人员基数大，人才储备充足，成本协调与控制能力更强，让企业客户得到真正的实惠。</li>


                    <h3>5、人才类型细分：</h3>
                    <li>a) 技术类型细分（软件测试、UI设计、java、.net、ios、android、C、C++、数据库、数据挖掘、实施……）；</li>
                    <li>
                        b) 软件人才工作年限细分：
                        <ul>
                            <li>　i. 　2年及以上工作经验；</li>
                            <li>　ii.  3-年以工作经验；</li>
                            <li>　iii. 5年以上工作经验。</li>
                        </ul>
                    </li>


                    <h3>　6、快速响应能力：</h3>
                    <li>a) 在收到企业的用人需求后，最晚3个工作日内提供第一批符合要求的简历；</li>
                    <li>
                        b) 签约流程快，我们提供标准的制式合同，同时也接受客户拟订的合同，有专门的法务和商务部门负责合同审核与签订，遇项目紧急可以走快速签约流程，
                        最快2个工作日内完成。
                    </li>


                    <h3>7、完善的团队管理能力：</h3>
                    <li>a) 翼聚源软件通过多年的发展，已经形成了相对完善的外包员工管理制度，包括《薪酬福利制度》、《绩效考核制度》、《人才甄选与评价标准》；</li>
                    <li>
                        b) 我们有着非常详细、规范、专业和标准化的人才甄选与评价体系，能快速与客户的用人需求、级别、规格进行衔接，让客户摆脱不同企业对人员级
                        别标准的不同定义的担忧；
                    </li>
                    <li>
                        c) 我们对每个项目都有专门的运维经理、客户经理负责，运维经理负责人员日常管理、考勤、费用结算、组织员工活动，员工关怀和压力疏导；客户
                        经理负责与客户的沟通协调，项目变化，人员增减和需求满足。
                    </li>

                </ul>

            </div>

        </div>
    </div>

   

</body>
</html>
