
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业面试</title>
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/rest.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/Sign.css" rel="stylesheet" />

    <script src="JavaScript/bootstrap.min.js"></script>
</head>
<body>
    

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner8.png" /></a></li>
            @*<li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner8.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner8.png" /></a></li>
            <li><a href="https://www.baidu.com/"><img src="~/img/jiaoyikexing/banner8.png" /></a></li>*@
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="js/shufflingFigure.js"></script>

    <div>
        <div id="Sign" class="center">

            <div>
                <ul id="Sign_ul">
                    <h2>劳动合同的权益</h2>
                    <li>
                        （1）依法建立和完善规章制度的权利。依法建立和完善规章制度的权利源于用人单位享有的生产指挥权，既然用人单位享有生产指挥权，所有用人单位有权根据
                        本单位的实际情况，在符合国家法律、法规的前提下制定各项规章制度，要求劳动者遵守。
                    </li>
                    <li>
                        （2）根据实际情况制定合理劳动定额的权利。用人单位帮劳动者签订劳动合同后，就获得了一定范围劳动者的劳动使用权，并有权根据实际情况给劳动者制定
                        合理的劳动定额。对于用人单位规定的合理的劳动定额，在没有出现特殊情况时，劳动者应当予以完成。
                    </li>
                    <li>（3）对劳动者进行职业技能考核的权利。用人单位有权对劳动者进行职业技能考核，并根据劳动者劳动技能的考核结果安排其适合的工作岗位和奖金薪酬。</li>
                    <li>（4）制定劳动安全操作规程的权利。用人单位有权利根据劳动法上劳动安全卫生标准，制定本单位的劳动保护制度，要求劳动者在劳动过程中必须严格遵守操作规程。</li>
                    <li>（5）制定合法作息时间的权利。用人单位享有根据本单位具体情况和对员工工作时间的要求，合法安排劳动者作息时间的权利。</li>
                    <li>
                        （6）制定劳动纪律和职业道德标准的权利。为了保证劳动得以正常有序进行，用人单位有权制定劳动纪律和职业道德标准。劳动纪律是用人单位制定的劳
                        动者在劳动过程中必须遵守的规章制度。这是组织社会劳动的基础和必要条件。职业道德是劳动者在劳动实践中形成的共同的行为准则，也是劳动者的职业要求
                        当然，制定劳动纪律和职业道德标准必须符合法律规范。
                    </li>
                    <li>（7）其他权利。包括提请劳动争议处理的权利，平等签订劳动合同的权利等 </li>
                </ul>
            </div>

        </div>
    </div>

   
</body>
</html>