
@{
    Layout = "~/Views/Shared/_indexLayout1.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易可信</title>

    <link href="../../Scripts/styles/skin/jykx.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/public.css" rel="stylesheet" />
    <link href="../../Scripts/styles/skin/rest.css" rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="../../Scripts/styles/js/jquery-1.7.2.min.js"></script>

</head>
<body>
    

    <div class="new_t">
        <ul class="scrollContent" style="top:0px;">
            <li><a><img src="~/img/jiaoyikexing/banner2.png" /></a></li>
        </ul>
        @*<ol id="btn" class="buttons">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>*@
    </div>
    <script src="../../Scripts/styles/js/shufflingFigure.js"></script>
   
    <div class="center">
        <div class="Transaction">
            <h2>一 交易可信</h2>
            <h3>项目交易安全保障</h3>
            <p>针对在平台网进行交易的项目（竞标项目、雇用人才、获得建议、产品需求，项目协议），一系列保障措施：</p>
        </div>

        <div class="Transaction">
            <div class="Transaction_left fl">
                <h3>1、什么是项目里协议：</h3>
                <p>
                    是指双方通过协商确定的阶段性项目计划，该计划作
                    为双方约定的在线协议，对双方有同等的约束作用。
                    协议可以按阶段对项目进行管理，有效的控制项目风
                    险，确保项目款的安全，对于平台人才能够保障劳
                    动有所收获
                </p>
                <h3> 2、协议内容</h3>
                <p>
                    金额：款项金额
                    周期：设定计划开始时间、计划结束时间
                    验收标准：里程碑要达到的阶段性目标
                </p>
            </div>
            <div class="Transaction_right fr"><img src="../../img/jiaoyikexing/20.png" /></div>
        </div>

        <div class="Transaction">
            <h2>二 平台可信</h2>
            <p>
                面对全球服务外包市场的减少，“众包模式”开始得到广泛应用，互联网逐渐成

                为挖掘服务外包市场业务的主
                要潜力。所谓“众包模式”就是把传统上由企业内部员工承担的工作，通过互联

                网以自由自愿的形式转交给企
                业外部的大众群体来完成的一种组织模式。
            </p>
            <img src="../../img/jiaoyikexing/21.png" />
            <p>
                “众包”是互联网力量彰显的产物，强调的是社会差异性、多元性带来的创新潜
                力，倚重的是“草根阶
                层”，相信“劳动人民的智慧是无穷 的”。
            </p>
            <img src="~/img/jiaoyikexing/22.png" />
        </div>

    </div>
    

    

</body>
</html>