@model Outsourcing.EF.Model.Index.IndexShow
@{
    Layout = "~/Views/Shared/_indexLayout.cshtml";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <link href="~/Scripts/styles/extends/Index/index.css" rel="stylesheet" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://localhost:22731/Content/sweetalert/docs.css" rel="stylesheet" />
    <link href="~/Scripts/styles/skin/owl.carousel.css" rel="stylesheet" />
    
    <script src="~/Scripts/styles/js/cityselect.js"></script>
    <script src="~/Scripts/styles/js/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/styles/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function(){
            $("#owl-demo").owlCarousel({
                autoPlay: 3000,
                items: 4,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });
        });
        
    </script>
    <style type="text/css">
        .ptrc-list li a:hover {font-size: 14px;font-weight: 800;color: red;}
        #IndustryState { width: 1190px;margin: 0 auto;height: 500px;}
        .NewsLi { line-height: 30px;}


        #div1{ width:1200px; height:206px; margin:0px auto; border:1px solid #e6e6e6; position:relative; overflow:hidden;}
        #left{ position:absolute;top:70px;left:20px;}
        #right{ position:absolute;top:70px;right:20px;}

       #owl-demo .item{margin: 3px;}
       #owl-demo .item img {display: block; width: 100%; height: auto; }

    </style>
</head>
<body>

    <input type="hidden" id="hideInput" value="@ViewBag.Types" />
    <!--------------------第三部 工作页面--------------------------->
    <div class="bigbox clearfix" style="height:400px;">
        <div class="bigbox-left">
            @{

                if (Model != null)
                {
                    if (ViewBag.Types == "")
                    {
                        @*<img src="../../../../img/bj0.jpg" style="height:100%;width:1200px;" />*@
                    Html.RenderPartial("~/Views/Home/Talent.cshtml", Model.requirementList);
                }
                if (ViewBag.Types == "1")
                {
                    Html.RenderPartial("~/Views/Home/Requirement.cshtml", Model.requirementList);

                }
                if (ViewBag.Types == "2")
                {
                    Html.RenderPartial("~/Views/Home/PersionalInfo.cshtml", Model.persionalInfoList);
                }

            }
            }
        </div>
    </div>

    <!------------------第五部 精准匹配--------------------------->
    <div id="trade_box">
        <div class="trade">

            <div class="trade_block">
                <a href="/Tenet/Tenet/Trade"><img src="/img/fuwuzhongzhi/1.png" width="48" height="48" />交易可信</a>
            </div>

            <div class="trade_block">
                <a href="/Tenet/Tenet/Matching"><img src="/img/fuwuzhongzhi/2.png" width="48" height="48" />精准匹配</a>
            </div>

            <div class="trade_block">
                <a href="/Tenet/Tenet/Protection"><img src="/img/fuwuzhongzhi/3.png" width="48" height="48" />权益保障</a>
            </div>
            <div class="trade_block">
                <a href="/Tenet/Tenet/Reliable"><img src="/img/fuwuzhongzhi/4.png" width="48" height="48" />可靠支付</a>
            </div>
            <div class="trade_block">     
                <a href="/Tenet/Tenet/Professional"><img src="/img/fuwuzhongzhi/5.png" width="48" height="48" />服务专业 </a>
            </div>
        </div>
    </div>
    <!------------------第五部 平台人才--------------------------->
    <div style=" background-color:#fafcfd;height:340px;width:100%;">
        <div class="ptrc-box clearfix">
            <h2>平台人才</h2>
            @if (ViewBag.Types == "1")
            {
                <ul class="ptrc-list clearfix">
                    <li><a href="javascript:void(0)" attr="JAVA工程师">
                            <img src="~/img/fuwuzhongzhi/8.png" /></a></li>
                    <li><a href="javascript:void(0)" attr="C#工程师"></a></li>
                    <li><a href="javascript:void(0)" attr="C++高级工程师"></a></li>
                    <li><a href="javascript:void(0)" attr="Web前端工程师"></a></li>
                    <li><a href="javascript:void(0)" attr="PHP工程师"></a></li>
                    <li><a href="javascript:void(0)" attr="ANDROID/IOS"></a></li>
                    <li><a href="javascript:void(0)" attr="UI">UI</a></li>
                    <li><a href="javascript:void(0)" attr="PYTHON"></a></li>
                    <li><a href="javascript:void(0)" attr="HTML"></a></li>
                    <li><a href="javascript:void(0)" attr="测试"></a></li>
                    <li><a href="javascript:void(0)" attr="售前"></a></li>
                    <li><a href="javascript:void(0)" attr="售后"></a></li>
                    <li><a href="javascript:void(0)" attr="微信开发"></a></li>
                    <li><a href="javascript:void(0)" attr="脚本开发"></a></li>
                    <li><a href="javascript:void(0)" attr="产品经理"></a></li>
                    <li><a href="javascript:void(0)" attr="架构师"></a></li>
                    <li><a href="javascript:void(0)" attr="美工"></a></li>
                    <li><a href="javascript:void(0)" attr="美工"></a></li>

                </ul>
            }
            else
            {
                <ul class="ptrc-list clearfix">
                    <li><a href="javascript:void(0)" attr="JAVA"></a></li>
                    <li><a href="javascript:void(0)" attr="C#"></a></li>
                    <li><a href="javascript:void(0)" attr="C/C++"></a></li>
                    <li><a href="javascript:void(0)" attr="Web"></a></li>
                    <li><a href="javascript:void(0)" attr="PHP"></a></li>
                    <li><a href="javascript:void(0)" attr="ANDROID/IOS"></a></li>
                    <li><a href="javascript:void(0)" attr="UI"></a></li>
                    <li><a href="javascript:void(0)" attr="PYTHON"></a></li>
                    <li><a href="javascript:void(0)" attr="HTML"></a></li>
                    <li><a href="javascript:void(0)" attr="测试"></a></li>
                    <li><a href="javascript:void(0)" attr="售前"></a></li>
                    <li><a href="javascript:void(0)" attr="售后"></a></li>
                    <li><a href="javascript:void(0)" attr="微信开发"></a></li>
                    <li><a href="javascript:void(0)" attr="脚本开发"></a></li>
                    <li><a href="javascript:void(0)" attr="产品经理"></a></li>
                    <li><a href="javascript:void(0)" attr="架构师"></a></li>
                    <li><a href="javascript:void(0)" attr="美工"></a></li>
                    <li><a href="javascript:void(0)" attr="美工"></a></li>

                </ul>
            }

        </div>
    </div>

    <!------------------第七部 面试--------------------------->
    <div class="msbox clearfix" style="margin-top:10px;">
        <h2 id="msboxH2"></h2>
        <div class="msbox-left" style="float:left;width:35%;">
            <h2>电话面试</h2>
            <a href="#"></a>
        </div>
        <div class="bigbox-right clearfix" style="width:28%; height:330px;">
            <h3>最新承担客户</h3>
            <ul id="cd">
                <li><a><span>2017-2-12</span>成功与中国联通签订项目外包合同</a></li> 
                <li><a><span>2017-2-15</span>与中国石油成功签订项目外包合同</a></li>  
                <li><a><span>2017-2-20</span>与方圆集团签订劳务派遣合同</a></li>  
                <li><a><span>2017-3-16</span>成功与启明星辰达成合作关系</a></li>  
                <li><a><span>2017-3-19</span>与铁道总公司签订合同</a></li>  
                <li><a><span>2017-4-01</span>成功与中国地质调查局签订合同</a></li>  
                <li><a><span>2017-4-03</span>成功与海翔国际签订合同</a></li>       
            </ul>
        </div>
        <div class="msbox-right" style="float:right;width:35%;">
            <h2>视频面试</h2>
        </div>
    </div>

    <!------------------第六部 交易流程--------------------------->
        <div style="background-color:#fff;height:130px;width:100%; margin-top:20px;">
            <div class="ptrc-box" width:1200px;margin:0 auto">
                <h2 id="Trans"></h2>
               <div class="Trans">
                    <ul class="Trans_box">
                        <li class="TransL">
                            <a href="/Tenet/Tenet/Enterprise">企业要求</a>
                        </li>
                        <li class="TransL">
                            <a href="/Tenet/Tenet/Selection">人才甄选</a>
                        </li>
                        <li class="TransL">
                            <a href="/Tenet/Tenet/appoint">人才委派</a>
                        </li>
                        <li class="TransL">
                            <a href="/Tenet/Tenet/interview">企业面试</a>
                        </li>
                        <li class="TransL">
                            <a href="/Tenet/Tenet/Sign">签订合同</a>
                        </li>
                        <li class="TransL">
                            <a href="/Tenet/Tenet/hillock">人员到岗</a>
                        </li>
                        <li class="TransL">
                            <a>结算</a>
                        </li>
                    </ul>
                </div>
          
            </div>
        </div>
    <div style="clear:both"></div>
 
    <!---------------------第八部 平台活动--------------------->
    <div class="alzs" id=""style="height:260px;">
        <h2 id="dv"></h2>
        <div id="div1">
            <div id="owl-demo" class="owl-carousel">
                <div class="item"><a href="http://www.baidu.com"><img src="/img/jiaoyikexing/47.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/48.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/50.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/47.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/48.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/50.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/47.png" alt="案列展示1" /></a></div>
                <div class="item"><a><img src="/img/jiaoyikexing/48.png" alt="案列展示1" /></a></div>
            </div>        
        </div>        
    </div>

    <!---------------------------案例展示------------------------->
    <div style="width:100%">
        <div id="Show" class="alzs center">
            <div class="she">
                <div class="she_left fl">
                    <h2 id="inner_h2"><a href="/Tenet/Tenet/More">更多>></a></h2>
                    <div id="one" class="fl">
                        <a href="/Tenet/Tenet/Case"><img id="resize1" src="/img/jiaoyikexing/40.png" /></a>
                    </div>
                    <div id="two" class="fr">
                        <div>
                            <a href="/Tenet/Tenet/Case"><img id="resize2" src="/img/jiaoyikexing/41.png" /></a>
                            <a href="/Tenet/Tenet/Case"><img id="resize3" src="/img/jiaoyikexing/42.png" /></a>
                        </div>
                        <div>
                            <a  href="/Tenet/Tenet/Case"><img id="resize4" src="/img/jiaoyikexing/43.png" /></a>
                            <a  href="/Tenet/Tenet/Case"><img id="resize5" src="/img/jiaoyikexing/44.png" /></a>
                            <a  href="/Tenet/Tenet/Case"><img id="resize6" src="/img/jiaoyikexing/45.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="she_right fr">
                    <h4>聚焦热文<a>更多>></a></h4>
                    <ul>
                        <li>基于智能终端与移动互联网物地产市场物地产市场</li>
                        <li>基于智能终端与移动互联网山东省物地产市场</li>
                        <li>基于智能终端与移动互联网物联网的物地产市场</li>
                        <li>基于智能终端与移动互联网物联网的发物地产市场</li>
                        <li>基于智能终端与移动互联网物联网的物地产市场</li>
                        <li>基于智能终端与移动互联网物联网的物地产市场</li>
                        <li>基于智能终端与移动互联网物联网的物地产市场</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <div style="clear:both"></div>

    <script>
        var bgs =
            [
                [
                    "/img/jiaoyikexing/d1.png",
                    "/img/jiaoyikexing/d2.png",
                    "/img/jiaoyikexing/d3.png",
                    "/img/jiaoyikexing/d1.png"
                ],

                [
                    "/img/jiaoyikexing/d4.png",
                    "/img/jiaoyikexing/d5.png",
                    "/img/jiaoyikexing/d6.png",
                    "/img/jiaoyikexing/d4.png"
                ],

                [
                    "/img/jiaoyikexing/d7.png",
                    "/img/jiaoyikexing/d8.png",
                    "/img/jiaoyikexing/d9.png",
                    "/img/jiaoyikexing/d7.png"
                ],

                [
                    "/img/jiaoyikexing/d10.png",
                    "/img/jiaoyikexing/d11.png",
                    "/img/jiaoyikexing/d12.png",
                    "/img/jiaoyikexing/d10.png"
                ],
                [
                    "/img/jiaoyikexing/d13.png",
                    "/img/jiaoyikexing/d14.png",
                    "/img/jiaoyikexing/d15.png",
                    "/img/jiaoyikexing/d13.png"
                ],

                [
                    "/img/jiaoyikexing/d16.png",
                    "/img/jiaoyikexing/d17.png",
                    "/img/jiaoyikexing/c1.png",
                    "/img/jiaoyikexing/d16.png"
                ],      
        ];

        var curbg = 0;
        setInterval(function () {
            var oImg = document.getElementById("resize1");
            if (curbg >= bgs[0].length - 1) {
                oImg.src = bgs[0][curbg = 0];
            }
            else {
                oImg.src = bgs[0][curbg++];
            }
        }, 2000);

       timer1 = setInterval(function () {
            var oImg2 = document.getElementById("resize2");
            if (curbg >= bgs[1].length - 1) {
                oImg2.src = bgs[1][curbg = 0];
            }
            else {
                oImg2.src = bgs[1][curbg++];
            }
       }, 2200);

       timer2 = setInterval(function () {
           var oImg3 = document.getElementById("resize3");
           if (curbg >= bgs[2].length - 1) {
               oImg3.src = bgs[2][curbg = 0];
           }
           else {
               oImg3.src = bgs[2][curbg++];
           }
       }, 2400);

       timer3 = setInterval(function () {
           var oImg4 = document.getElementById("resize4");
           if (curbg >= bgs[3].length - 1) {
               oImg4.src = bgs[3][curbg = 0];
           }
           else {
               oImg4.src = bgs[3][curbg++];
           }
       }, 2600);

       timer4 = setInterval(function () {
           var oImg5 = document.getElementById("resize5");
           if (curbg >= bgs[4].length - 1) {
               oImg5.src = bgs[4][curbg = 0];
           }
           else {
               oImg5.src = bgs[4][curbg++];
           }
       }, 2800);

       timer5 = setInterval(function () {
           var oImg6 = document.getElementById("resize6");
           if (curbg >= bgs[5].length - 1) {
               oImg6.src = bgs[5][curbg = 0];
           }
           else {
               oImg6.src = bgs[5][curbg++];
           }
       }, 3000);
    </script>

    <!---------------------------行业资讯------------------------->
    <div class="hyzx">
        <h2 id="hyzxH2">行业资讯</h2>
        <div id="hyzxList">
            <ul style="margin:0 auto; height:400px;">
                <li class="hyzxLi" style="text-align:left">
                    <div class="hyzxtitle" >
                        <h3 style="margin-top:0px;"><a target="_blank" title="国内信息的了解" href="">国内资讯</a></h3>
                        <a class="hyzxtitles"  href="">更多></a>
                    </div>
                    <div class="hyzxLis" style="text-align:left">
                        <ul style="text-align:center;">
                            <li>
                                <i class="hyzxi">1</i>
                                <a target="_blank" title="支付宝再掀热潮" href="http://www.cs.com.cn/sylm/cstop10/201604/t20160408_4942951.html">支付宝刷脸支付亮相 人脸识别再掀热潮</a>
                            </li>
                            <li>
                                <i class="hyzxi">2</i>
                                <a href="http://tech.qq.com/a/20170323/028190.htm" target="_blank">京东金融：中国发展金融科技有优势</a>
                            </li>
                            <li>
                                <i class="hyzxi">3</i>
                                <a href="http://tech.qq.com/a/20170324/005212.htm" target="_blank" title="腾讯付费背后的血与泪">不断发力 银联重拳布局扫码支付</a>
                            </li>
                            <li>
                                <i class="hyzxi">4</i>
                                <a href="http://www.qncye.com/ruhe/wangluo/092720481.html" target="_blank" title="腾讯付费背后的血与泪">10个脑洞很大的互联网创业项目</a>
                            </li>
                            <li>
                                <i class="hyzxi">5</i>
                                <a href="http://www.qncye.com/ruhe/wangluo/092720481.html" target="_blank" title="腾讯付费背后的血与泪">10个脑洞很大的互联网创业项目</a>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="hyzxLi" style="text-align:center">
                    <div class="hyzxtitle">
                        <h3 style="margin-top:0px;"><a target="_blank" tilte="大量国际讯息的平台" href="">国际资讯</a></h3>
                        <a class="hyzxtitles" href="">更多></a>
                    </div>
                    <div class="hyzxLis">
                        <ul>
                            <li>
                                <i class="hyzxi">1</i>
                               <a target="_blank" title="Ipod Touch7 即将面世" href="http://tech.sina.com.cn/i/2017-03-24/doc-ifycstww0939430.shtml">亚马逊躲过一劫：不必补缴15亿美元税</a>
                            </li>
                            <li>
                                <i class="hyzxi">2</i>
                               <a target="_blank" title="亚马逊阅读器的利与弊" href="http://tech.sina.com.cn/i/2017-03-24/doc-ifycstww0923723.shtml">腾讯再次成全球最大游戏公司</a>
                            </li>
                            <li>
                                <i class="hyzxi">3</i>
                                <a href="http://tech.sina.com.cn/i/2017-03-24/doc-ifycstww0900160.shtml" target="_blank" title="IG付费背后的血与泪">Twitter考虑推出管理工具TweetDeck</a>
                            </li>
                            <li>
                                <i class="hyzxi">4</i>
                                <a href="http://tech.sina.com.cn/i/2017-03-22/doc-ifycnpiu9401182.shtml" target="_blank" title="扎克伯格的发家史">研究机构：BAT将挑战Facebook与谷歌</a>
                            </li>
                            <li>
                                <i class="hyzxi">5</i>
                                <a href="http://tech.sina.com.cn/i/2017-03-22/doc-ifycnpiu9401182.shtml" target="_blank" title="扎克伯格的发家史">研究机构：BAT将挑战Facebook与谷歌</a>
                            </li>
                        </ul>
                    </div>


                </li>
                <li class="hyzxLi" style="text-align:right" >
                    <div class="hyzxtitle">
                        <h3 style="margin-top:0px;"><a target="_blank" title="热点新闻聚焦" href="">聚焦热文</a></h3>
                        <a class="hyzxtitles" href="">更多></a>
                    </div>
                    <div class="hyzxLis" >
                        <ul style="text-align:center">
                            <li>
                                <i class="hyzxi">1</i>
                            <a href="http://tech.sina.com.cn/i/2017-03-24/doc-ifycstww0896326.shtml" target="_blank" title="支付宝再掀热潮">85后的饿了么创始人：年轻人一定</a> 
                            </li>
                            <li>
                                <i class="hyzxi">2</i>
                                <a target="_blank" title="Ipod Touch7 即将面世" href="http://it.sohu.com/20170324/n484488771.shtml">微信跟外交部做了个小程序 </a>
                            </li>
                            <li>
                                <i class="hyzxi">3</i>
                                <a href="http://it.sohu.com/20170323/n484492815.shtml" target="_blank" title="IG付费背后的血与泪">创新“互联网+政务” 村村乐打造智慧城镇</a>
                            </li>
                            <li>
                                <i class="hyzxi">4</i>
                                <a href="http://it.sohu.com/20170324/n484527996.shtml" target="_blank" title="扎克伯格的发家史">蚂蚁金服的拨乱反正,百度金融的咬定青</a>
                            </li>
                            <li>
                                <i class="hyzxi">5</i>
                                <a href="http://it.sohu.com/20170324/n484527996.shtml" target="_blank" title="扎克伯格的发家史">蚂蚁金服的拨乱反正,百度金融的咬定青</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(".ptrc-list li").click(function () {

        if ($("#hideInput").val() != "" && $("#hideInput").val() != null) {
            var name = $(this).find("a").attr("attr");
            //alert(name);
            //alert(encodeURIComponent(name));
            var url = "/Recruit/RecruitHome/GetDateByType?name=" + encodeURIComponent(name);
            window.location.href = url;
        }
        else {
            //alert("未登录，请先登录！");
        }

    })

    $("#tb_img tr td").click(function () {
        var id = $(this).find("img").attr("attr");
        var url = "/Recruit/RecruitHome/GetImageFile?id=" + id + "&type=Web项目";
        window.location.href = url;
    })

    $("#dv_img img").click(function () {
        var id = $(this).attr("attr");
        var url = "/Recruit/RecruitHome/GetImageFile?id=" + id + "&type=平台活动";
        window.location.href = url;
    })
</script>
