.matching{ margin-top: 20px; width:1200px; height: 468px; border-bottom: 1px solid #eaeaea;}
#matching_img{ margin-top: 80px;}
.matching_img{ width: 552px;}
.matching_box{ width: 552px; margin-top: 120px;}

