.protection{ margin-top: 20px; width:1200px; border-bottom: 1px solid #eaeaea;}
#protection_img{ margin-top: 10px;}
.protection_img{ width: 1198px; height: 172px;}
.protection_box{ width: 1198px; height: 800px; margin-top: 10px;}

